body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

/* Bagian Header Logo Dan Navigasi */
header {
  position: fixed;
  width: 100%;
  height: 75px;
  top: 0px;
  z-index: 10;
  background: rgb(167, 138, 68);
}

.header-left {
  float: left;
}

.header-left img {
  width: 65px;
  margin-top: 5px;
}

.header-right {
  float: right;
}

.header-right a {
  font-family: "Sofia", cursive;
  line-height: 75px;
  padding: 0 25px;
  color: rgb(255, 255, 255);
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.menu-icon img {
  float: right;
  width: 45px;
  height: 45px;
  margin: 15px 0;
  display: none;
}

/* Akhir Bagian Header Logo Dan Navigasi */

/* Bagian Top Wrapper */
.top-wrapper {
  font-family: "Sofia", cursive;
  padding: 80px 0 20px 0;
  background-image: url(img/background.png);
  background-size: cover;
  color: white;
  text-align: center;
}

.top-wrapper h1 {
  opacity: 0.9;
  font-size: 60px;
  letter-spacing: 10px;
  margin-bottom: 5px;
  text-shadow: 5px 5px rgb(66, 50, 50);
}

.top-wrapper p {
  opacity: 0.9;
  font-size: 30px;
  margin-bottom: 5px;
  text-shadow: 2px 2px rgb(0, 0, 0);
}
/* Akhir Bagian Top Wrapper */

/* Bagian Tentang */
/* BAGIAN AWAL SELAMAT DATANG */

.lessons {
  background: rgba(216, 241, 62, 0.39);
  padding-top: 35px;
  height: 650px;
}

.lessons .left {
  width: 50%;
  float: left;
}

.lessons .left h1 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  color: #000000;
}

.lessons .left p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 35px;
  letter-spacing: 0.1em;
}
.lessons a {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
  text-decoration: none;
  color: black;
  transition: all 0.5s ease;
}

.lessons a:hover {
  font-size: 35px;
  padding: 20px;
  color: rgb(193, 66, 66);
}

.lessons .right {
  width: 50%;
  float: right;
}

.right img {
  padding-top: 35px;
  width: 450px;
  height: 450px;
}
/* Akhir Bagian Tentang */

/* Bagian Daftar Dongeng by SUTISNA A11*/
.daftar-dongeng {
  background-color: rgb(235, 230, 214);
  margin-top: -21px;
  padding-top: 35px;
}
.heading h1 {
  font-size: 50px;
}
.dongeng {
  margin-top: 61px;
  justify-content: center;
}
.tonton-dongeng {
  float: left;
  width: 30%;
  margin-bottom: 100px;
  margin-left: 10px;
  margin-right: 10px;
}
.clear {
  clear: left;
}

.icon-youtube {
  width: 56px;
  height: 56px;
}

.dongeng-icon {
  text-align: center;
  position: relative;
}
.dongeng-icon a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  padding-top: 100px;
  transition: opacity 0.7s;
}
.dongeng-icon a:hover {
  opacity: 1;
}
.tonton-dongeng p {
  font-size: 20px;
  text-align: center;
  padding-top: 50px;
  color: rgb(0, 0, 0);
}
.tonton-dongeng p:hover {
  font-size: 30px;
  text-align: center;
  padding-top: 50px;
  color: rgb(193, 66, 66);
}
.tonton-dongeng .icon-panah img {
  width: 25px;
  height: 25px;
  padding-top: 10px;
}

/* Akhir Bagian Daftar Dongeng */

/* Bagian Footer */

footer img {
  height: 50px;
}

footer p {
  font-size: 12px;
  color: #b3aeb5;
}

footer {
  padding-top: 10px;
  text-align: center;
}
/* Akhir Footer */

/* Responsiv ukuran tablet max-width:1000px */
@media all and (max-width: 1000px) {
  /* Bagian Top Wrapper */
  .top-wrapper h1 {
    font-size: 40px;
  }
  .top-wrapper p {
    font-size: 20px;
  }
  /* Bagian Tentang */
  .lessons .left h1 {
    font-size: 35px;
  }
  .lessons a {
    font-size: 25px;
  }
  .lessons a:hover {
    font-size: 30px;
    color: rgb(193, 66, 66);
  }
  /* Bagian Daftar Dongeng */
  .heading h1 {
    font-size: 35px;
  }
}

/* Responsive ukuran smartphone max-width;670px */
@media all and (max-width: 670px) {
  /* Bagian Header */
  .menu-icon img {
    display: block;
  }
  .header-right {
    display: none;
  }

  /* Bagian Top Wrapper */

  .top-wrapper h1 {
    font-size: 30px;
  }
  .top-wrapper p {
    font-size: 15px;
  }

  .top-wrapper {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .top-wrapper .left {
    width: 100%;
  }

  .top-wrapper .right {
    width: 100%;
  }

  .top-wrapper .right img {
    margin-top: 20px;
    width: 180px;
    height: 150px;
  }

  /* Bagian Tentang */
  .lessons {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .lessons .left {
    width: 100%;
  }
  .lessons .right {
    width: 100%;
  }
  .lessons .right img {
    margin-top: 20px;
    width: 350px;
    height: 280px;
    padding-bottom: 61px;
  }
  /* Bagian Daftar Dongeng */
  .tonton-dongeng {
    float: left;
    width: 100%;
    margin-bottom: 100px;
    margin-left: 10px;
    margin-right: 10px;
  }
}
