body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

/* Bagian Header Logo Dan Navigasi */
header {
  position: fixed;
  width: 100%;
  height: 100px;
  top: 0px;
  z-index: 10;
  background: rgb(167, 138, 68);
  opacity: 0.9;
}

.header-left{
  float: left;
}

.header-left img {
  width: 100px;
}

.header-right {
  float: right;
  margin-right: 10px;
  background-color: rgba(255, 255, 255, 0.3);
}

.header-right:hover {
  background-color: rgba(255, 255, 255, 0.5);
  transition: all 0.5s;
}

.header-right a {
  line-height: 100px;
  padding-left: 25px;
  padding-right: 25px;
  color: white;
  display: block;
}

.menu-icon {
  display: none;
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
}

/* Akhir Bagian Header Logo Dan Navigasi */

/* Bagian Top Wrapper */
.top-wrapper {
  font-family: sofia;
  padding: 80px 0 20px 0;
  background-image: url(img/background.png);
  background-size: cover;
  color: white;
  text-align: center;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 50px;
  letter-spacing: 5px;
  margin-bottom: 5px;
}

.top-wrapper p {
  opacity: 0.7;
  font-size: 15px;
  margin-bottom: 5px;
} 
/* Akhir Bagian Top Wrapper */

/* Bagian Tentang */
/* BAGIAN AWAL SELAMAT DATANG */

.lessons {
  padding: 100px 0 100px 0;
  background: rgba(216, 241, 62, 0.39);
  height: 600px;
  /* color: white; */

}

.lessons .left {
  width: 50%;
  float: left;
}

.lessons .left h1 {
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 50px;
line-height: 24px;

color: #000000;
}

.lessons .left p {
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 35px;
letter-spacing: 0.1em;
}
.lessons a {
  font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 24px;
text-decoration: none;
color: black;
transition: all 0.5s ease;
}

.lessons a:hover {
  font-size: 36px;
  padding: 20px;
  color: rgb(193, 66, 66);

}

.lessons .right {

  float: right;
}

.right img{
  width: 450px;
  height: 450px;
  
}
/* Akhir Bagian Tentang */

/* Bagian Daftar Dongeng by SUTISNA A11*/
.daftar-dongeng {
  background-color: rgb(235, 230, 214);
  margin-top: -21px;
  padding-top: 61px;
}
.heading h1 {
  font-size: 50px;
}
.dongeng {
  margin-top: 61px;
  justify-content: center;
}
.tonton-dongeng {
  float: left;
  width: 30%;
  margin-bottom: 100px;
  margin-left: 10px;
  margin-right: 10px;
}
.clear {
  clear: left;
}

.icon-youtube {
  width: 56px;
  height: 56px;
}

.dongeng-icon {
  text-align: center;
  position: relative;
}
.dongeng-icon a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  padding-top: 100px;
  transition: opacity 0.7s;
}
.dongeng-icon a:hover {
  opacity: 1;
}

.dongeng-icon img {
  width: 300px;
}

.seemore a {
  line-height: 500px;
  color: red;
  opacity: 1;
  text-align: center;
}
/* Akhir Bagian Daftar Dongeng */

/* Bagian Footer */

footer img {
  height: 50px;
}

footer p {
  font-size: 12px;
  color: #b3aeb5;
}

footer {
  padding-top: 10px;
  text-align: center;
}
/* Akhir Footer */

/* Responsiv ukuran tablet max-width:1000px */
@media all and (max-width: 1000px){
  .top-wrapper h1 {
    font-size: 25px;

  }
  .tonton-dongeng{
    width:50%;
  }
}

/* Responsive ukuran smartphone max-width;670px */
@media all and (max-width: 670px){
  header {
  height: 50px;
  }
  
  .header-left img {
  width: 50px;
  }
  
  .menu-icon {
    display:none;
  }

  .tonton-dongeng{
    width:100%;
    padding:20px;
  }

  .header-right{
    display: none;
  }
   
  .top-wrapper h1 {
    font-size: 20px;
    line-height: 40px;
  }
  
  .top-wrapper{
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  
  .top-wrapper .left {
    width: 100%;
  }
  
  .top-wrapper .right {
    width: 100%;
  }
  
  .top-wrapper .right img {
    margin-top: 20px;
    width: 180px;
    height: 150px;
  }
}
